.nav{
    padding: 5px;
    background-color: silver;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .gfont{
    font-family: 'Righteous', cursive;
  }

  .fakeline{
      border: solid black 1px; 
  }

  .movedown{
      margin-top: 100px;
  }

  .dropstyle{
      background-color: white;
  }

  .scrolltab{
    height:300px;
    overflow:scroll;
}