.nav{
    padding: 5px;
    background-color: darkblue;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .gfont{
    font-family: 'Righteous', cursive;
    color:white;
    text-emphasis: bold;
  }

  .gfont2{
    font-family: 'Righteous', cursive;
    color:darkblue;
    text-emphasis: bold;
  }

  .fakeline{
      border: solid black 1px; 
  }

  .movedown{
      margin-top: 25px;
  }

  .dropstyle{
      background-color: white;
  }

  .scrolltab{
    height:300px;
    overflow:scroll;
}

.picFrame{
    border: white 1px solid;
    border-radius: 20px;
}